<style>
    body,html{
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .container{
        height: 100vh;
        display: flex;
        color:white;
        justify-content: center;
        align-items: center;
        
    }
    .box{
        background-color: yellow;
        height: 150px;
        width: 150px;

    }

</style>